include ../../../node_modules/bemto.pug/bemto.pug

include _top_menu
include _logo
include _promo_gallery
include _start_history_block
include _delivery
include _map
include _footer
include _catalog_menu
include _prod_card
include _prod_order
