mixin b_footer()
	.footer_block
		+b.container
			.footer_block__column.column
				h3.column__title_light.column__title_light-left Contact us
				.column__text 
					| г. Шира, ул. Усадьба 50<br>
					| 8-800-574-54-45<br>
				.column_text_orange info@byfet.ua

			.footer_block__column.column
				h3.column__title_light.column__title_light-center Popular tags
				ul.column__list.list
					li.list__item 
						a.list__link #buffet
					li.list__item
						a.list__link #friends
					li.list__item
						a.list__link #meat
					li.list__item
						a.list__link #fantasy
				ul.column__list.list
					li.list__item
						a.list__link #food
					li.list__item
						a.list__link #cake
					li.list__item
						a.list__link #drink
					li.list__item
						a.list__link 
				ul.column__list.list
					li.list__item
						a.list__link #cafe
					li.list__item
						a.list__link #magic
					li.list__item
						a.list__link 
					li.list__item
						a.list__link 

			.footer_block__column.column
				h3.column__title_light.column__title_light-right Working time
				.column__text 
					| ПН-ПТ:    08:00 - 21:00<br>
					| СБ-ВС:     08:00 - 19:00<br>
