.title-cross
	font-size 9em
	position relative
	text-align center
	text-transform uppercase
	font-weight 500
	&:after
		display block
		content ''
		width 239px
		height 12px
		background #f48a00
		left 27%
		top 50%
		position absolute
		
	&_light
		color #f1f1f3
	&_durk
		color #1F1F1F