.prod-card
	padding 20px 0

.prod-card__title
	font-size 2em
	color link_hover_color

.prod-card__prise
	font-size 90px
	color 9em
	float right

.prod-card__title
	display inline-block
	font-size 9em
	color link_hover_color

.prod-card__navigation
	text-decoration none
	font-size 5em
	color #111111

.prod-card__descr_col
	@media md
		width 30%
		float left

.prod-card__category
	margin 20px 0
	font-size 26px

.prod-card__description
	font-size 2.6em

.prod-card__img
	@media md
		width 40%
		float left

.prod-card__composit
	padding-top 40px
	@media md
		width 30%
		float right

.prod-card__composit__item
	font-style italic
	font-size 2.6em
	position relative
	padding-left 63px
	&:before
		clear both
		content ""
		display block
		position absolute
		left 0
		top 8px
		width 37px
		height 2px
		background #111111
