.strocked_title
	font-size 6em
	position relative
	&:after
		display block
		content ''
		width 239px
		height 12px
		background #f48a00
		left -46px
		top 50%
		position absolute;
		@media xs
			height 8px
	@media md
		font-size 9em
