body
  background-color #f1f1f3
  color #1f1f1f;
  font 62.5% arial, tahoma
  font-family Tahoma,sans-serif
	overflox-x hidden

*
  box-sizing border-box


.container-full
  box-sizing border-box
  display inline-block
  overflow hidden;
  position relative
  vertical-align top
  width 100%

.container
  box-sizing border-box
  margin 0 auto
  position relative
  max-width 100%
  width 100%
  @media (min-width:992px)
    max-width 1200px;

  &:after, &:before
    clear both
    content ""
    display table
    line-height 0
    width 100%

.text-center
	text-align center
[class*="sec"], [class*="grid"]
  box-sizing border-box
  display inline-block
  float left
  margin-left 2%
  position relative
  vertical-align top

[class*="sec"]:first-child, [class*="grid"]:first-child, [class*="sec"][class*="-f"], .grid100
  margin-left 0

.sec2
  width 49%

.sec2-f
  width 100%
  margin-left: 0

  @media (min-width:992px)
    width 50%

.sec3
  width 100%
  @media (min-width:992px)
    width 32%
