body
  background #f1f1f3
  font 62.5%/1.33 arial, tahoma

.container
  width 1100px
  max-width 98%
  margin 0 auto
  position relative

.start_top
    background url(../img/top.jpg) center top no-repeat
