extends ./../layouts/_layout

block title
	title Frodo Buffet Pub

block content
	.inner_page_menu
		.container
			+b_top_menu(menu)
			+b_logo()
	+b_catalog_menu(menu)

	+b_delivery()
	+b_map()
	+b_footer()
