extends layouts/_layout

block content
  h1 Hello
  - var menu = [{name: 'О нас', id:1}, {name: 'Блог', id:2}, {name: 'Меню', id:3},{name: 'Акции', id:4},{name: 'Доставка', id:5},{name: 'Контакты', id:6},{name: 'Вход', id:7}]
