include ../pug/blocks/_all
doctype html
html(lang="en")
	head
		title= pageTitle
		link(rel='stylesheet', href='css/all.css')
		- var menu = [{name: 'О нас', id:1}, {name: 'Блог', id:2}, {name: 'Меню', id:3},{name: 'Акции', id:4},{name: 'Доставка', id:5},{name: 'Контакты', id:6},{name: 'Вход', id:7}]

	body.start_top
		.container
			+b_top_menu(menu)
			+b_logo()
			block content
