.prod-order
	padding 30px 0
	position relative

.form-increment
	display inline-block

.form-increment__button, .form-increment__input
	height 71px
	border solid #cccccc
	text-align center

.form-increment__button
	width 53px
	border-width 1px
	background #ebebeb

.form-increment__input
	border-width 1px 0

.prod-order
	@media md
		.btn-link
			position absolute
			right 0
